.choices {
    display: flex;
    padding: 80px 0px 0px 256px;
    
    
}

.block {
    display: flex;
    align-items: center;
    
}

.choice img {
    min-width: 80%;
    max-width: 80%;
    
    
}

#container  {
    font-size: 40px;
    font-family: monospace, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:azure
    
}


.gameEnd, .result, .points {
    font-size: 20px;
    
}

.gameEnd {
    margin-top: 30px;
    font-size: 26px;
}

.result {
    margin-top: 10px;
    margin-bottom: 5px;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    color: azure;
}
h5 {
    margin: 0px;
    
}
body {
    background-color: mediumslateblue;
    text-align: center;
}

.images {
    display: flex;
    
}

.choice {
    transition: all .37s;
}

.playing {
    transform:scale(1.1);
    border-color:whitesmoke;
    box-shadow: 0 0 100px whitesmoke;
    border-radius: 25px;
}

.block2 {
    padding-right: 60px;
    padding-top: 185px;
    font-size: larger;
    color: whitesmoke;
    font-family: monospace, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}